@use "../theme";

.Length {
  margin: 0 calc(theme.$size/4);
  display: block;
  height: theme.$size;
  width: theme.$size;

  cursor: pointer;
  transition: all 0.4s ease-in-out;

  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

  &:active {
    background-color: theme.$l4;
    color: theme.$l1;
  }
}
