@use "../theme";

.DipSwitch {
  margin: 0 calc(theme.$size/4);

  .checkbox {
    display: none;
  }

  & * {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    user-select: none;
  }

  .Small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: theme.$height;

    @media screen and (min-width: 32rem) {
      display: none;
    }
  }

  .Large {
    display: none;
    align-items: center;
    padding-right: calc(theme.$size/4);

    @media screen and (min-width: 32rem) {
      display: flex;
    }
  }

  .Frame {
    .toggleWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 2rem;
      height: 2rem;

      .toggle {
        background-color: transparent;
        border-radius: 50%;
        border: theme.$border solid theme.$l3;
        height: calc(theme.$border * 2);
        width: calc(theme.$border * 2);
      }
    }
  }

  .checkbox:checked {
    & + .Frame {
      background-color: theme.$l4;

      .toggle {
        background-color: theme.$l1;
        border-color: transparent;
        border-radius: 0.6rem;
        width: 0;
      }

      .label {
        color: theme.$l1;
      }
    }
  }
}
