.App {
  header {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .Controls {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding: 1rem;
    }
  }

  main {
    height: calc(100vh - 5rem);
    overflow: hidden;
  }
}
