.InfiniScroll {
  padding: 0 2rem;
  background-color: $l4;

  .Grid {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    gap: 0.5rem;

    nav {
      height: 2rem;
      background-color: $l2;

      width: 100%;
    }
  }
}
