@keyframes cardEntrance {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.Password {
  font-family: $codeFonts;
  font-size: 1rem;
  margin: 0;

  &.Ready {
    animation: cardEntrance 2000ms ease-out backwards;
  }
}
